.wp-block-mstg-product-reivew {
    // review content 
    .products-review-content {
        overflow: hidden;
        .wp-block-mstg-props-cons {
            float: none !important;
            width: 100% !important;
            margin: 0 !important;
        }
    }
    
}